#main_window {
outline: none;
margin: 10px;
padding: 10px;

}

* {
    font-family: "Arial", "Noto Sans CJK SC", sans-serif;
    color:black;
}



#historyFrame{
     border-radius: 40px;
     border:  none;
background-color: white;

}

#recommandFrame{
     border-radius: 40px;
     border:  none;
background-color: white;

}
#History_Empty_Frame{
border-radius: 40px;
border:  none;
background-color: white;

}
