#main_window {
outline: none;
margin: 10px;
padding: 10px;

}

* {
    font-family: "Arial", "Noto Sans CJK SC", sans-serif;
    color:black;
}



DFrame{
     border-radius: 40px;
     border:  none;

background-color: #383838;

}
