QListView#navigate_list::item {
    border-radius: 10px;
}

QListView#navigate_list::item:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

QListView#navigate_list::item:selected {
    background-color: #0081FF;
    border-radius: 10px;
}
QFrame#navigate_frame{
    outline: none;

    background-color: #fefefe;
    border-radius: 40px;
   }
