QFrame#navigate_frame{
    outline: none;
  
    background-color: #323232;
    border-radius: 40px;
   }
QListView:item#navigate_list{
    border-radius: 10px;
}
QListView:item:hover#navigate_list{
    background-color: #3c3c3c;
     border-radius: 10px; 
    
}
QListView:item:selected#navigate_list{
    background-color:   #0081FF;
    border-radius: 10px; 
    
}
